<%- include("partials/header") -%> 

<% if (post==null) { %>
 <h3>"Blog with title:<%= postTitle %> doesn't exist</h3>
<% }else{ %>

<h1><%= post.title %>  </h1>


<p><%= post.body %> </p>
<% } %> 
<%- include("partials/footer") -%> 